font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster Two', cursive;

body {
    height:fit-content;
}
p {
    font-family: 'Josefin Sans';
    color: #660018;
    line-height: 1.5;
}
.p1 {
    font-family: 'Josefin Sans';
    line-height: 1.5;
    display: block;
    color: #fffde4;
    margin: 10%;
}
li {
    font-family: 'Josefin Sans';
    color: #660018;
}
h1 {
    font-family: 'Lobster Two';
    color: #660018;
    font-size: 36px;
    margin-left: 50%;
    margin-bottom: 5%;
}
h2 {
    font-family: 'Lobster Two';
    color: #660018;
}
h3 {
    font-family: 'Lobster Two';
    color: #660018;
}
.header-images {
    background-image: url("../images/awning.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.header-nav {
    display: inline-block;
    width: 1000px;
}
.header-icons {
    float: right;
    display: inline-block;
    width: 100px;
}
.nav-link {
    display: inline-block;
    padding: 2%;
}
li {
    float: right;
    list-style-type: none;
}
.left {
    float: left;
    width: 49%;
}
.right {
    float: right;
    width: 49%;
}
.story {
    background-color: #660018;
    width: 50%;
    margin-left: 8%;
    padding: 3%;
    height: 300px;
}
.p2 {
    font-family: 'Lobster Two';
    line-height: 1.5;
    font-size: 18pt;
    display: block;
    color: #fffde4;
    margin: 10%;
}
.team {
    margin-top: 15%;
    margin-left: 8%;
    width: 50%;
}
.team-copy, .socials-copy, .mission-copy {
    width: 75%;
    margin: 15%;
    margin-left: 30%;
}
.socials-icons {
    margin-left: 30%;
}
.arc {
    margin-left: 8%;
}
.mission, .socials {
    margin-right: 5%;
    margin-top: 5%;
    width: 50%;
}
.hiring {
    background-color: #97C29A;
    display: inline-block;
    width: 85%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
    margin-bottom: 5%;
}
.hiring-copy {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    width: 500px;
}
.hiring-row {
    display: inline-block;
}
.bread {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.middle-box {
    background-color: #660018;
    width: 50%;
    height: 100px;
    padding: 10%;
}
.footer {
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-size: 1500px;
    display: inline-block;
    padding: 15px;
    height: 600px;
    width: 1500px;
}
.location {
    margin-left: 5%;
    padding-right: 5%;
}
.hours, {
    margin-left: 15%;
}
.times {
    margin-left: 5%;
}
.contact {
    margin-left: 10%;
}
.footer-row {
    display: inline-block;
}